html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgreen;
    height: 100vh;
}

ol {
    li {
        padding: 10px;
        a {
            font-size: 2em;
            color: tomato;
        }
    }
}


ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  width: 50%;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
ol li::before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  line-height: 1;
  color: lightslategray;
}