html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #709FDC;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav {
    text-align: center;
    a {
        display: inline-block;
        text-decoration: none;
        
    }
}
.main-page {
    text-align: center;
    a {
        font-size: 2em;
        text-decoration: none;
        color: white;
        &:hover {
            color: darkorange;
        }
    }
    div {
        margin: .5em;
    }
    h1 {
        color: white;
    }
    .begin {
        background-color: #11a1e2;
    }
    .adv {
        background-color: #a83a01;
    }
    .adv-j {
        background-color: #FFCA2D;
        color: black;
    }
}
h1 {
    text-align: center;
    font-size: 2em;
    background-color: #1C2A49;
    color: white;
    padding: 1.25em;
    margin: 0;
}
img {
    margin: .25em 1.25em;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
h2, h3, h4, h5, h6 {
    color: white;
    padding: .25em .5em;
}

p {
    font-size: large;
    color: darkred;
    background-color: #fff;
    padding: .5em;
}
.additional {
    padding: 1em;
    margin: 0;
    background-color: white;
    a {
        display: block;
        font-size: 2em;
        color: black;
        padding: 1em;
        &:hover {
            color: darkorange;
        }
    }    
    .important {
        color: rgb(211, 19, 51);
        font-size: 1.95em;
        padding: 0 1em;
    }
}

ol {
    padding: .15em;
    li {
        display: block;
        border-bottom: 1px solid grey;
        padding: .25em 0;
        a {
            font-size: 2em;
            color: white;
            align-self: center;
        }
    }
}
ol {
  list-style: none;
  counter-reset: counter;
}
ol li {
  counter-increment: counter;
}
ol li::before {
  content: counter(counter);
  color: #FFCA2D;
  font-weight: bold;
  font-size: 2em;
}

footer {
    background-color: #1C2A49;
    text-align: center;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        li {
            a {
                display: inline-block;
                margin: .25em .25em;
            }
        }
    }
}