@import './reset';

@font-face {
    font-family: 'Ubuntu-m';
    src: url('fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: 'Ubuntu-r';
    src: url('fonts/Ubuntu-Regular.ttf');
}

html, body {
    font-family: 'Ubuntu-r';
    background-color: #414A4C;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #17b978;
    color: #fff;
    padding: 1em 1.5em 1em 2em;
    display: inline-block;
    font-size: 1.5em;
}

.homework {
    background-color: #fff;
    color: #414A4C;
    padding: 1em 1.5em 1em 2em;
    display: inline-block;
    font-size: 1.5em;
    position: relative;
    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background-image: url('hw.png');
        background-size: contain;
        background-position: 0 0;
        position: absolute;
        left: 10px;
        transform: translateY(-15%);
    }
}

.exercise {
    background-color: #fff;
    a {
        margin: .75em;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
        border-radius: 5px;
        padding: 1.25em;
        color: #414A4C;
        font-size: 1.5em;
        text-decoration: none;
        white-space: nowrap;
        display: inline-block;
        &:hover {
            box-shadow: 1px 10px 20px rgba(0, 0, 0, .15);
            color: darkorange;
        }
    }
}
ol {
    li {
        list-style-type: decimal;
        margin: .75em .75em .75em 1.5em;
        h2 {
            margin-bottom: .5em;
            line-height: 22px;
            a {
                color: #fff;
                border-bottom: 2px solid #e41749;
            }
        }
        img {
            border-radius: 5px;
            object-fit: contain;
            margin: 10px 0;
            display: block;
        }
    }
}

.additional {
    background-color: #fff591;
    color: #414A4C;
    padding: 2em 0;
    .important {
        padding: 0.5em 1.25em;
        font-size: 1.65em;
        position: relative;
        color: #e41749;
        font-family: 'Ubuntu-m';
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url('important.png');
            background-size: contain;
            background-position: 0 0;
            position: absolute;
            left: .5em;
            top: 50%;
            transform: translateY(-50%);
        }   
    }

    .stuff {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        a {
            margin: .5em .75em;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
            border-radius: 5px;
            padding: 1.25em;
            color: #414A4C;
            font-size: 1.5em;
            text-decoration: none;
            white-space: nowrap;
            display: inline-block;
            &:hover {
                box-shadow: 1px 10px 20px rgba(0, 0, 0, .15);
                color: #fff;
            }
        }
    }

    .task {
        padding: 0.5em 1.75em;
        font-size: 1.25em;
        position: relative;

        &::before {
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #ff304f;
            position: absolute;
            top: 50%;
            left: 1em;
            transform: translateY(-50%);
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    h5 {
        font-size: 1.25em;
    }
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin: 0 .5em;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
