@import './reset';

@font-face {
    font-family: 'Ubuntu-m';
    src: url('fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: 'Ubuntu-r';
    src: url('fonts/Ubuntu-Regular.ttf');
}
html, body {
    font-family: 'Ubuntu-r';
    background-color:#FFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav {
    text-align: center;
    a {
        display: inline-block;
        text-decoration: none;
        
    }
}
.main-page {
    text-align: start;

    .course {
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        justify-content: flex-start;
        align-items: center;
        a {
            margin: .75em;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
            border-radius: 5px;
            padding: 1.25em;
            color: #332E1F;
            font-size: 1.5em;
            text-decoration: none;
            white-space: nowrap;
            
            &:hover {
                box-shadow: 1px 10px 20px rgba(0, 0, 0, .15);
                color: darkorange;
            }
        }
        
    }
    h1 {
        color: #332E1F;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 1em 1.5em 1em 2em;
        display: inline-block;
    }

    .begin {
        margin-top: 25px;
        background-color: #17b978;
        color: #fff;
        position: relative;

        &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-image: url('html.png');
            background-size: contain;
            background-position: 0 0;
            position: absolute;
            left: 30px;
        }
    }
    .adv-j {
        background-color: #0b8457;
        color: #fff;
        &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-image: url('js.png');
            background-size: contain;
            background-position: 0 0;
            position: absolute;
            left: 30px;
        }
    }
    .adv-f {
        background-color: #10316b;
        color: #fff;
        &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-image: url('design.png');
            background-size: contain;
            background-position: 0 0;
            position: absolute;
            left: 30px;
        }
    }
}

h1 {
    font-size: 2em;
    background-color: #ff304f;
    color: #fff;
    position: relative;
    padding: 1em 1.5em 1em 2em;
    display: inline-block;
}

h2 {
    a {
        margin: .75em;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
        border-radius: 5px;
        padding: 1.25em;
        color: #332E1F;
        font-size: 1.5em;
        text-decoration: none;
        white-space: nowrap;
        
        &:hover {
            box-shadow: 1px 10px 20px rgba(0, 0, 0, .15);
            color: darkorange;
        }
    }
}

h2, h3, h4, h5, h6 {
    color: #303a52;
    padding: .25em .5em;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    h5 {
        font-size: 1.25em;
    }
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin: 0 .5em;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

img {
    max-width: 1000px;
    object-fit: contain;
    margin: auto;
}